body {
  background-color: #212121;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

#quote-box {
  background-color: #ffffff;
  border-radius: 5px;
  padding: 40px;
  height: auto;
  width: 32vw;
  text-align: center;
  display: flex; 
  flex-direction: column; 
  align-items: center; 
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

#text {
  animation: fadeIn 2s;
}

#author {
  margin-left: auto;
  animation: fadeIn 2s;
}

#new-quote {
  background-color: #212121;
  color: #ffffff;
  height: 4vh;
  width: 7vw;
  border-radius: 4px;
  margin-left: auto;
  transition: .3s ease-in-out 0s;
}

#new-quote:hover {
  cursor: pointer;
  transform: scale(1.15);
}

.more {
  display: flex;
  flex-direction: row;
  width: 100%;
}

a {
  color: blue;
}

.twitter {
  height: 35px;
  width: 35px;
}

/* Media Queries */
@media (max-width: 768px) {
  #quote-box {
    width: 70vw;
    font-size: 40px;
  }
  #new-quote {
    height: 5vh;
    width: 24vw;
    border-radius: 15px;
    font-size: 32px;
  }
  .twitter {
    height: 80px;
    width: 80px;
  }
}
